@page
@using System;
@using System.Data.SqlClient;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Checkin";

    if (Request.Cookies["venueId"] == null)
    {
        //Redirect to index if we are logged in
        Response.Redirect("Register");
    }

    // Connecting to database.
    
}

<script src="/js/html5-qrcode.min.js"></script>

<body>
    <div class="container">
        <main role="main" class="pb-3 align-self-center">
            <br /><br /><br />
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6 border-right">
                            <h5 class="card-title">Scan your QR code for a faster checkin</h5>
                            <div style="width: auto; height: auto; overflow:auto;" id="reader"></div>
                        </div>
                        <div class="col-sm-6">
                            <form method="post" id="checkinForm" action="">
                                <h5 class="card-title">Check in with your Unique Identifier:</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="unique" oninput="disableManual(this.value)" maxlength="100" placeholder="Unique ID..." required>
                                </div>
                                <hr />

                                <h5 class="card-title">Check-in manually</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstName" id="firstname" oninput="disableUnique(this.value)" maxlength="100" placeholder="First name..." required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="lastName" id="lastname" oninput="disableUnique(this.value)" maxlength="100" placeholder="Last name..." required>
                                </div>

                                <div class="form-group">
                                    <input type="tel" class="form-control" name="contact" id="contact" oninput="disableUnique(this.value)" pattern="0[0-9]{9}||[0-9]{9}" placeholder="Phone number..." required>
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="checkinSubmit" class="btn btn-primary" onsubmit="">Check-in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="manualSuccessful" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                    <p class="h3 justify-content-center">You have successfully checked into @Request.Cookies["venueName"].</p>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function disableManual(value) {
        document.getElementById("firstname").disabled = value != "";
        document.getElementById("lastname").disabled = value != "";
        document.getElementById("contact").disabled = value != "";
    }
    function disableUnique(value) {
        document.getElementById("unique").disabled = value != "";
    }
</script>

<script>
    // To be initiated on submit of "manualForm" 
    $("#checkinForm").submit(function (e) {

        // Prevents normal submit of form
        e.preventDefault();

        // Grabs form data and URL for AJAX Request
        var form = $(this);

        // Determine URL for POST based on Checkin method.
        if ($('#unique').val()) {
            var url = "api/Checkin/Unique"
        }
        else {
            var url = "api/Checkin/Manual"
        }

        html5QrCode.stop().then((ignore) => {
            // QR Code scanning is stopped.
        }).catch((err) => {
            // Stop failed, handle it.
        });

        // AJAX Request
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),

            // To be done if AJAX Request is successful
            success: function (resp) {

                // Shows "manualSuccessful" modal
                $('#manualSuccessful').modal('show');

                // Clears form contents
                $("#checkinForm").trigger('reset');
                document.getElementById("firstname").disabled = false;
                document.getElementById("lastname").disabled = false;
                document.getElementById("contact").disabled = false;
                document.getElementById("unique").disabled = false;

                // Hides "manualSuccessful" modal after 5 seconds
                setTimeout(function () {
                    $('#manualSuccessful').modal('hide')
                    html5QrCode.start({ facingMode: "user" }, config, qrCodeSuccessCallback);
                }, 5000);
            }
        });
    });
</script>
<script>
    const html5QrCode = new Html5Qrcode("reader");
    const qrCodeSuccessCallback = (decodedText) => {
        document.getElementById("firstname").disabled = true;
        document.getElementById("lastname").disabled = true;
        document.getElementById("contact").disabled = true;
        document.getElementById("unique").value = decodedText;
        document.getElementById("checkinSubmit").click();
        
    };
    const config = { fps: 10, qrbox: 250 };

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    html5QrCode.start({ facingMode: "user" }, config, qrCodeSuccessCallback);
</script>