@page
@{
    ViewData["Title"] = "Checkin";

    // var db = Database.Open("databaseName");

    string fName = Request.Query["fName"];
    string lName = Request.Query["lName"];
    string phone = Request.Query["phoneNum"];


    //if (!String.IsNullOrWhiteSpace(fName) && !String.IsNullOrWhiteSpace(lName) && !String.IsNullOrWhiteSpace(phone))
    //{
    //    fName = fName.ToUpper();
    //    lName = lName.ToUpper();

    //    var userQuery = "SELECT TOP 1 uniqueId FROM Users WHERE firstName = @0 AND lastName = @1 AND phoneNumber = @2";
    //    // var userID = db.QuerySingle(userQuery, fName, lName, phone);
    //    if (userID == null)
    //    {
    //        var addUserQuery = "INSERT INTO Users (firstName, lastName, phoneNumber) VALUES (@0, @1, @2)";
    //    }
    //}

    System.Diagnostics.Debug.WriteLine(fName + ",   " + lName + ",   " + phone);

}

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Venue Management
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="checkin">Checkin <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="reports">Reports <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <br /><br /><br />
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-6 border-right">
                                <h5 class="card-title">Placeholder...</h5>
                            </div>
                            <div class="col-sm-6">
                                <form method="post" action="">
                                    <h5 class="card-title">Don't have a username? Check-in manually</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="firstName" placeholder="Given name..." required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastName" placeholder="Surname..." required>
                                    </div>

                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="contact" placeholder="Contact number..." required>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Check-in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
</body>