@page
@using System.Data.SqlClient;
@{
    ViewData["Title"] = "Index";

    String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
    SqlConnection connection = new SqlConnection(connectionString);
    connection.Open();
}

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Venue Management
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="checkin">Checkin <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="reports">Reports <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="logout">Logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <span class="navbar-text">
                @if (Request.Cookies["venueId"] != null) {
                    <div>venueID: @Request.Cookies["venueId"]</div>
                }
            </span>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <br /><br /><br />
        @{
            if (Request.Cookies["venueId"] != null)
            {
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Your details</h5>

                                Venue ID: @Request.Cookies["venueId"]<br />
                                Please pull other details from DB
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </main>
</div>