@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Venue Registration
        </a>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <br /><br /><br />
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="venueName" placeholder="Venue Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="venueAddress" placeholder="Venu Address">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="venueOwner" placeholder="Venue Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="venueNumber" placeholder="Venue Contact Number">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </main>
</div>