@page
@using System.Data.SqlClient;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";

    String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
    SqlConnection connection = new SqlConnection(connectionString);
    connection.Open();
}

<div class="container">
    <main role="main" class="pb-3">
        <br /><br /><br />

        @{
            if (Request.Cookies["venueId"] != null)
            {
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Your details</h5>

                                Venue ID: @Request.Cookies["venueId"]<br />
                                Please pull other details from DB
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </main>
</div>