@page
@model COVIDCheckinWebApp.Pages.QRTestModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "QRTest";
}
<html>
<head>
    <script src="/js/html5-qrcode.min.js"></script>
</head>

<body>
    <div style="width: 500px" id="reader"></div>
    <script>
        const html5QrCode = new Html5Qrcode("reader");
        const qrCodeSuccessCallback = (decodedText, decodedResult) => {
            alert(decodedText);
            console.log(`Scan result: ${decodedText}`, decodedResult);
        };
        const config = { fps: 10, qrbox: 250 };

        html5QrCode.start({ facingMode: "user" }, config, qrCodeSuccessCallback);
    </script>
</body>
</html>