@page
@using System.Text;
@using System.Data.SqlClient;
@using System.Security.Cryptography;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";

    if (Request.Cookies["venueId"] != null)
    {
        //Redirect to index if we are logged in
        Response.Redirect("Index");
    }

    String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
    SqlConnection db = new SqlConnection(connectionString);

    var email = "";
    var phone = "";
    var password = "";
    var businessName = "";
    var businessOwner = "";
    var businessAddress = "";
    var businessNumber = "";
    var venueIdString = "";

    if (Request.Method == "POST")
    {
        email = Request.Form["email"];
        phone = Request.Form["phone"];
        password = Encrypt(Request.Form["password"]);
        businessName = Request.Form["businessname"];
        businessOwner = Request.Form["businessowner"];
        businessAddress = Request.Form["businessaddress"];
        businessNumber = Request.Form["businessnumber"];

        email = email.ToUpper();
        businessName = businessName.ToUpper();
        businessOwner = businessOwner.ToUpper();
        businessAddress = businessAddress.ToUpper();

        SqlCommand checkExisting = new SqlCommand("SELECT venueId FROM Venue WHERE venueName = @0 AND venueAddress = @1", db);
        checkExisting.Parameters.AddWithValue("@0", businessName);
        checkExisting.Parameters.AddWithValue("@1", businessAddress);

        db.Open();
        var checkExistingId = checkExisting.ExecuteScalar();

        if (checkExistingId != null)
        {
            venueIdString = checkExistingId.ToString();
        }
        else
        {
            SqlCommand insert = new SqlCommand("INSERT [Venue] ([ownerEmail], [ownerPhone], [ownerPassword], [venueName], [venueOwner], [venueAddress], [venuePhone])" +
            "VALUES(@0, @1, @2, @3, @4, @5, @6)", db);
            insert.Parameters.AddWithValue("@0", email);
            insert.Parameters.AddWithValue("@1", phone);
            insert.Parameters.AddWithValue("@2", password);
            insert.Parameters.AddWithValue("@3", businessName);
            insert.Parameters.AddWithValue("@4", businessOwner);
            insert.Parameters.AddWithValue("@5", businessAddress);
            insert.Parameters.AddWithValue("@6", businessNumber);

            insert.ExecuteNonQuery();

            SqlCommand getLastId = new SqlCommand("SELECT TOP 1 venueId FROM Venue ORDER BY venueId DESC", db);

            var venueId = getLastId.ExecuteScalar();
            Console.WriteLine("Venue ID: " + venueId);
            venueIdString = venueId.ToString();
        }

        db.Close();

        //Store venueID in cookies to signify we are logged in
        Response.Cookies.Append("venueId", venueIdString);
        Response.Cookies.Append("venueName", businessName);

        //Redirect back to Index when successfully registered
        Response.Redirect("Index");
    }

    static string Encrypt(string data)
    {
        using (SHA256 hash = SHA256.Create())
        {
            byte[] bytes = hash.ComputeHash(Encoding.UTF8.GetBytes(data));

            StringBuilder builder = new StringBuilder();

            for (int i = 0; i < bytes.Length; i++)
            {
                builder.Append(bytes[i].ToString("x2"));
            }
            return builder.ToString();
        }
    }
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJG02FQOVVRvnAMzRdFvNo9QLLcBsNLIY&libraries=places&callback=initialize"></script>

<div class="container">
    <main role="main" class="pb-3">
        <br /><br /><br />

        <div class="card">
            <div class="card-body">
                <form method="post" action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <h5 class="card-title">Your details</h5>
                            <div class="form-group">
                                <input type="email" class="form-control input" name="email" placeholder="Email..." required>
                            </div>

                            <div class="form-group">
                                <input type="tel" class="form-control input" name="phone" placeholder="Contact number..." pattern="^\d{10}$" oninvalid="this.setCustomValidity('Enter a valid phone number.')" oninput="this.setCustomValidity('')" required autocomplete="tel">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control input" name="password" placeholder="Password..." id="password" required>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control input" name="password2" placeholder="Confirm password..." id="password2" oninput="matchPassword(this)" required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <h5 class="card-title">Store details</h5>
                            <div class="form-group">
                                <input type="text" class="form-control input" name="businessname" placeholder="Business name..." required>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control input" name="businessowner" placeholder="Business owner..." required>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control input" name="businessaddress" id="businessaddress" placeholder="Business address..." required>
                            </div>

                            <div class="form-group">
                                <input type="tel" class="form-control input" name="businessnumber" placeholder="Business phone number..." pattern="^\d{10}$" oninvalid="this.setCustomValidity('Enter a valid phone number.')" oninput="this.setCustomValidity('')" required autocomplete="tel">
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn button">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

<script language='javascript' type='text/javascript'>
    function matchPassword(password)
    {
        if (password.value != document.getElementById('password').value)
        {
            password.setCustomValidity('Passwords must match.');
        }
        else
        {
            password.setCustomValidity('');
        }
    }

    function initialize()
    {
        var input = document.getElementById('businessaddress');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>