@page

<style>
    body, html {
        height: 100%;
        background-color: #64afd5;
        font-family: 'Open Sans', sans-serif;
    }
</style>

<div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-10">
            <div class="jumbotron justify-content-center" style="background-color: #ffffff; padding:60px 60px 40px 60px">
                <p class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg><br /><br /><br />
                    <b>Thank you for checking in, @Request.Query["name"]</b><br />
                    @Request.Query["venue"]<br />
                    @Request.Query["time"]
                </p>
            </div>
        </div>
    </div>
</div>